@model BankIFSCClient.Models.Bank
@{
    ViewBag.Title = "SearchByMICR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get all the details of your required bank using bank MICR code</h2>

@using (Html.BeginForm("micr", "bank", FormMethod.Post))
{
    <div class="form-group">
        
        @Html.LabelFor(m => m.MICRCode)
        <div class="tt-container">
            @Html.TextBoxFor(m => m.MICRCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MICRCode)
        </div>
    </div>
    <br />

    <button class="btn btn-primary">Submit</button>
}

<br /><br />
@if (Model != null && Model.Id > 0)
{
    <div class="row">
        <div class="resultBox" style="display: block;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="resultElement"><label><b>IFSC Code : </b></label><p>@Model.IFSCCode</p></div>
                <div class="resultElement"><label><b>MICR Code : </b></label><p>@Model.MICRCode</p></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="resultElement"><label><b>Bank : </b></label><p>@Model.Name</p></div>
                <div class="resultElement"><label><b>Address: </b></label><p>@Model.Address</p></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="resultElement"><label><b>District: </b></label><p>@Model.District</p></div>
                <div class="resultElement"><label><b>State: </b></label><p>@Model.State</p></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
                <div class="resultElement"><label><b>Branch: </b></label><p>@Model.Branch</p></div>
                <div class="resultElement"><label><b>Contact No : </b></label><p>@Model.Contact</p></div>
            </div>
        </div>
    </div>
}
else if (Model == null)
{
    <div class="row">
        <div class="resultBox" style="display: block; text-align:center">
            <p>No Data Found</p>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var banks = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('MICRCode'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/bank?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#MICRCode').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'banks',
                    display: 'MICRCode',
                    source: banks
                }).on("typeahead:select", function (e, bank) {
                    //vm.customerId = customer.id;
                });


        });
    </script>
}


